@using CutOutWiz.Services.Models.Email
@using static CutOutWiz.Core.Utilities.Enums


<div class="mb-2 row">
    <label for="Name" class="col-sm-4 col-form-label fw-bold">Name</label>
    <div class="col-sm-8">
        <InputText class="form-control" @bind-Value="senderAccount.Name"></InputText>
        <ValidationMessage For="@(() => senderAccount.Name)" />
    </div>
</div>

<div class="mb-2 row">
    <label for="Email" class="col-sm-4 col-form-label fw-bold">Email</label>
    <div class="col-sm-8">
        <InputText class="form-control" @bind-Value="senderAccount.Email"></InputText>
        <ValidationMessage For="@(() => senderAccount.Email)" />
    </div>
</div>

<div class="mb-2 row">
    <label for="EmailDisplayName" class="col-sm-4 col-form-label fw-bold">Display Name</label>
    <div class="col-sm-8">
        <InputText class="form-control" @bind-Value="senderAccount.EmailDisplayName"></InputText>
        <ValidationMessage For="@(() => senderAccount.EmailDisplayName)" />
    </div>
</div>

<div class="mb-2 row">
    <label for="MailServer" class="col-sm-4 col-form-label fw-bold">Mail Server</label>
    <div class="col-sm-8">
        <InputText class="form-control" @bind-Value="senderAccount.MailServer"></InputText>
        <ValidationMessage For="@(() => senderAccount.MailServer)" />
    </div>
</div>

<div class="mb-2 row">
    <label for="Port" class="col-sm-4 col-form-label fw-bold">Port</label>
    <div class="col-sm-8">
        <InputNumber class="form-control" @bind-Value="senderAccount.Port"></InputNumber>
        <ValidationMessage For="@(() => senderAccount.Port)" />
    </div>
</div>

<div class="mb-2 row">
    <label for="UserName" class="col-sm-4 col-form-label fw-bold">User Name</label>
    <div class="col-sm-8">
        <InputText class="form-control" @bind-Value="senderAccount.UserName"></InputText>
        <ValidationMessage For="@(() => senderAccount.UserName)" />
    </div>
</div>

<div class="mb-2 row">
    <label for="Password" class="col-sm-4 col-form-label fw-bold">Password</label>
    <div class="col-sm-8">
        <InputText class="form-control" @bind-Value="senderAccount.Password"></InputText>
        <ValidationMessage For="@(() => senderAccount.Password)" />
    </div>
</div>

<div class="mb-2 row">
    <label for="ApiKey" class="col-sm-4 col-form-label fw-bold">Api Key</label>
    <div class="col-sm-8">
        <InputText class="form-control" @bind-Value="senderAccount.ApiKey"></InputText>
        <ValidationMessage For="@(() => senderAccount.ApiKey)" />
    </div>
</div>

<div class="mb-2 row">
    <label for="SecretKey" class="col-sm-4 col-form-label fw-bold">Secret Key</label>
    <div class="col-sm-8">
        <InputText class="form-control" @bind-Value="senderAccount.SecretKey"></InputText>
        <ValidationMessage For="@(() => senderAccount.SecretKey)" />
    </div>
</div>

<div class="mb-2 row">
    <label for="Domain" class="col-sm-4 col-form-label fw-bold">Domain</label>
    <div class="col-sm-8">
        <InputText class="form-control" @bind-Value="senderAccount.Domain"></InputText>
        <ValidationMessage For="@(() => senderAccount.Domain)" />
    </div>
</div>

<div class="mb-2 row">
    <label class="col-sm-4 col-form-label fw-bold">Enable SSL</label>
    <div class="col-sm-8">
        <InputCheckbox @bind-Value="senderAccount.EnableSSL" id="EnableSSL" class="form-check-input"></InputCheckbox>
        <label class="form-check-label" for="EnableSSL">
            Enable SSL
        </label>
        <ValidationMessage For="@(() => senderAccount.EnableSSL)" />
    </div>
</div>

<div class="mb-2 row">
    <label class="col-sm-4 col-form-label fw-bold">Use Default Credentials</label>
    <div class="col-sm-8">
        <InputCheckbox @bind-Value="senderAccount.UseDefaultCredentials" id="UseDefaultCredentials" class="form-check-input"></InputCheckbox>
        <label class="form-check-label" for="UseDefaultCredentials">
            Use Default Credentials
        </label>
        <ValidationMessage For="@(() => senderAccount.UseDefaultCredentials)" />
    </div>
</div>

<div class="mb-2 row">
    <label class="col-sm-4 col-form-label fw-bold">Is Default</label>
    <div class="col-sm-8">
        <InputCheckbox @bind-Value="senderAccount.IsDefault" id="IsDefault" class="form-check-input"></InputCheckbox>
        <label class="form-check-label" for="IsDefault">
            Is Default
        </label>
        <ValidationMessage For="@(() => senderAccount.IsDefault)" />
    </div>
</div>

<div class="mb-2 row">
    <label for="Status" class="col-sm-4 col-form-label fw-bold">Status</label>
    <div class="col-sm-8">
      <InputSelect @bind-Value="senderAccount.Status" class="form-select">
           <option value="0">- Select -</option>
        @foreach (var status in Enum.GetValues(typeof(GeneralStatus)))
        {
            <option value="@((int)status)">@status</option>
        }
         </InputSelect>
        <ValidationMessage For="@(() => senderAccount.Status)" />
    </div>
</div>

@code {
    [Parameter]
    public EmailSenderAccountModel senderAccount { get; set; }
}
