@page "/management/teams"

@attribute [Authorize(Roles = "Management.ManageTeams")]

@using CutOutWiz.Data.Management
@using CutOutWiz.Services.Management
@using KowToMateAdmin.Models.Security
@using KowToMateAdmin.Pages.Shared
@using static CutOutWiz.Core.Utilities.Enums

@inject IWorkContext _workContext
@inject ITeamService _teamService

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Teams  
                <span>(@filteredTeams.Count)</span>
            </h4>

            <div class="page-title-right">
                @*<ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a emailef="javascript: void(0);">Invoices</a></li>
                    <li class="breadcrumb-item active">Invoice List</li>
                </ol>*@
                 <button type="button" class="btn btn-sm btn-secondary" @onclick="AddNew" title="Add New Team"><span class="fas fa-plus"></span> Add New</button>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                @if (teams is null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <div class="row gy-2 gx-3 align-items-center mb-3">                                           
                        <div class="col-sm-auto">                  
                            <div class="input-group">
                                <div class="input-group-text"> <i class="fas fa-search"></i></div>
                                 <input type="text" class="form-control" @bind-value="searchText" @bind-value:event="oninput" id="txtsearchbox" placeholder="Search..">
                            </div>
                        </div>                      
                    </div>

                    <div class="table-responsive">
                        <table class="table mb-0 table-striped table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Created Date</th>
                                    <th>Members</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <Virtualize Items="filteredTeams" Context="team">
                                    <tr @ondblclick="() => Edit(team.ObjectId)">
                                        <td>
                                            <a href="/management/team-members/@team.Id">
                                                @team.Name
                                            </a>
                                        </td>
                                        <td>
                                             @if (team.Status == (int)GeneralStatus.Active)
                                            {
                                                <span class="badge bg-success">Active</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-warning text-dark">Inactive</span>
                                            }
                                        </td>

                                        <td>@team.CreatedDate.ToShortDateString()</td>

                                        <td>
                                            <a href="/management/team-members/@team.Id">
                                                Manage Members
                                            </a>
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-sm btn-outline-primary btn-tbl-action" @onclick="(async () => await Edit(team.ObjectId))">
                                                <span class="fas fa-pencil-alt"></span>
                                            </button>

                                            <button type="button" class="btn btn-sm btn-outline-danger btn-tbl-action" @onclick="() => Delete(team.ObjectId,team.Name)">
                                                <span class="fas fa-times"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </Virtualize>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@if (isPopupVisible)
{
    @* https://www.puresourcecode.com/dotnet/blazor/modal-dialog-component-for-blazor/*@
    <EditForm Model=@team OnValidSubmit="@InsertUpdateTeam" >
        <div class="modal" tabindex="-1" style="display:block;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Sender Account</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="CloseAddEditPopup"></button>
                    </div>
                    <div class="modal-body">
                        <DataAnnotationsValidator />
                        <div class="row">
                            <TeamAddEdit team="team" />
                            <div class="col">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" disabled="@isSubmitting">Save Changes</button>
                        @if (!string.IsNullOrWhiteSpace(team.ObjectId))
                        {
                            <button type="button" class="btn btn-danger" disabled="@isSubmitting" @onclick="() => Delete(team.ObjectId,team.Name)">Delete</button>   
                        }
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" disabled="@isSubmitting" @onclick="CloseAddEditPopup">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}

<ModalNotification @ref="ModalNotification" ConfirmationChanged="ConfirmDelete_Click">
</ModalNotification>

@code {
    protected ModalNotification ModalNotification { get; set; }

    bool isSubmitting;
    private List<Team> teams = new List<Team>();

    private Team team = null;
    bool isPopupVisible = false;
    private LoginUserInfoViewModel loginUser = null;
    private string searchText = "";
    private string selectedObjectId = "";

    protected override async Task OnInitializedAsync()
    {
        loginUser = _workContext.LoginUserInfo;
        await LoadTeams();
    }

    private async Task LoadTeams()
    {
        teams = await _teamService.GetAll();
    }

    private async Task InsertUpdateTeam()
    {
        isSubmitting = true;

        if (team.Id == 0)
        {
            team.CreatedByContactId = loginUser.ContactId;
            team.ObjectId = Guid.NewGuid().ToString();

            var addResponse = await _teamService.Insert(team);

            if (!addResponse.IsSuccess)
            {
                ModalNotification.ShowMessage("Error",addResponse.Message);
                isSubmitting = false;
                return;
            }
        }
        else
        {
            team.UpdatedByContactId = loginUser.ContactId;
            var updateResponse = await _teamService.Update(team);

            if (!updateResponse.IsSuccess)
            {
                ModalNotification.ShowMessage("Error",updateResponse.Message);
                isSubmitting = false;
                return;
            }
        }

        team = new Team();
        isSubmitting = false;

        await LoadTeams();
        CloseAddEditPopup();
    }

    string StatusText()
    {
        if (team.Status == (int)GeneralStatus.Active)
        {
            return "<span class='badge bg-success'>Active</span>";
        }

        return  "<span class='badge bg-info text-dark'>Inactive</span>";
    }

    void AddNew()
    {
        team = new Team {  CompanyId = loginUser.CompanyId, Status = (int)GeneralStatus.Active };

        isSubmitting = false;
        ShowAddEditPopup();
    }

    private async Task Edit(string objectId)
    {
        team = await _teamService.GetByObjectId(objectId);
        ShowAddEditPopup();
    }

    void ShowAddEditPopup()
    {
        isPopupVisible = true;
    }

    void CloseAddEditPopup()
    {
        isPopupVisible = false;
    }

    protected void Delete(string objectId, string name)
    {
        selectedObjectId = objectId;
        var msg = $"Are you sure you want to delete the team \"{name}\"?";
        ModalNotification.ShowConfirmation("Confirm Delete",msg);
    }

    protected async Task ConfirmDelete_Click(bool deleteConfirmed)
    {
        if (deleteConfirmed)
        {
            var deleteResponse = await _teamService.Delete(selectedObjectId);

            if (deleteResponse.IsSuccess)
            {
                await LoadTeams();
                team = new Team();
                CloseAddEditPopup();
            }
            else
            {
                 ModalNotification.ShowMessage("Error",deleteResponse.Message);
            }
        }

         isSubmitting = false;
    }
   
     List<Team> filteredTeams => teams
                                        .Where(i => 
                                                i.Name.ToLower().Contains(searchText.ToLower())
                                        ).ToList();
}
